<!DOCTYPE HTML PUBLIC>
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{{ titolo }}</title>
    {% include 'block/metaog.twig' %}

    <link rel="stylesheet" href="stylesheets/app.css" media="Screen" type="text/css" />

    <style type="text/css">
    </style>

  </head>

  <body>
  {% include 'block/js_fb.twig' %}

    <div class="container">
      {% include 'block/tv.twig' %}


      
    </div>
{% include 'block/script_js.twig' %}
  </body>
</html>